# Basic environment parameter. Must be equal to one of these values: develop, stage, test, production.
ENVIRONMENT=develop

# This variable should not be empty.
# But if it is, by default value is getting from $_SERVER['DOCUMENT_ROOT'].
ROOT_PATH=

# Configuration directories. Required for application.
COMMANDS_CONFIG=/config/commands.php
DEFINITIONS_CONFIG=/config/definitions.php
MIDDLEWARES_CONFIG=/config/middlewares.php

# SLim application error handler settings.
DISPLAY_ERROR_DETAILS=1
LOG_ERRORS=1
LOG_ERROR_DETAILS=1

# JSON-RPC application settings.
# Application entrypoint. By default is '/rpc'.
JRPC_ENTRYPOINT=/rpc
# Client can create own entrypoint controller or use builtin.
JRPC_USE_DEFAULT_ENTRYPOINT=1
# JSON-RPC spec allows to handle batch requests from client. In this case application provided a special param for configure it.
# By defauls is disabled.
JRPC_BATCH_REQUESTS=0
# By default, the ID in JRPC requests must be in UUID4 format. You can disable this option, but the ID must still be a string.
JRPC_UUID_REQUIRED=1