# Basic environment parameter. Must be equal to one of these values:
# - develop;
# - production.
ENVIRONMENT=develop

# SLim application error handler settings.
DISPLAY_ERROR_DETAILS=1
LOG_ERRORS=1
LOG_ERROR_DETAILS=1

# Application entrypoint. By default is '/rpc'.
ENTRYPOINT=/rpc

# JSON-RPC application settings.
USE_DEFAULT_ENTRYPOINT=1