# Basic environment parameter. Must be equal to one of these values:
# - develop;
# - stage;
# - test;
# - production.
ENVIRONMENT=develop

# SLim application error handler settings.
DISPLAY_ERROR_DETAILS=1
LOG_ERRORS=1
LOG_ERROR_DETAILS=1

# Configuration directories. Required for application.
COMMANDS_CONFIG=/config/commands.php
DEFINITIONS_CONFIG=/config/definitions.php

# JSON-RPC application settings.
# Application entrypoint. By default is '/rpc'.
ENTRYPOINT=/rpc
# Client can create own entrypoint controller or use builtin.
USE_DEFAULT_ENTRYPOINT=1
# JSON-RPC spec allows to handle batch requests from client. In this case application provided a special param for configure it.
# By defauls is disabled.
BATCH_REQUESTS=0